body{
	background-color: lightpink;
}
p{
	font-size: 48px;
}
.p1{
	color: purple;
	background-color: lavender;
	font-family: "Rubik Scribble", system-ui;
}
.p2{
font-family: Georgia, serif;
}
.p3{
font-family: "Gill Sans", sans-serif;
}
.p4{
font-family: sans-serif;
}
.p5{
font-family: serif;
}
.p6{
font-family: cursive;
}
.p7{
font-family: system-ui;
}
.p8{
font-family: "Great Vibes", cursive;	
}
.p9{
font-family: "Amatic SC", sans-serif;
}
.p10{
font-family: "Rubik Mono One", monospace;
}
.p11{
font-family: "Caveat", cursive;
}
.p12{
 font-family: "Lobster", sans-serif;
}
